.pw_holder{background:#fff;border:1px solid #ccc;border-radius:3px;padding:0.5em;}
.pw_type_holder{border-bottom:1px solid #ccc;}
.pw_2046_lw input[type=text], .pw_2046_lw select{width:100%;}
.warning{color:red}
.blue{background:blue !important;}
.green{background:green !important;}
.hide{display:none;}
.lw_2046_left, .lw_2046_right{width:300px;float:left;clear:none;margin:0 0 1em 0;}
.lw_2046_left{margin-right:15px;}
.lw_type_change_note{text-align:right;}
/*select.lw_multiple_select{height:5em !important;}*/
.asmContainer {
	/* container that surrounds entire asmSelect widget */
}
.asmSelect {
	/* the newly created regular 'select' */
	display: inline; 
}
.asmOptionDisabled {
	/* disabled options in new select */
	color: #999; 
}
.asmHighlight {
	/* the highlight span */
	padding: 0;
	margin: 0 0 0 1em;
}
.asmList {
	/* html list that contains selected items */
	margin: 0.25em 0 1em 0; 
	position: relative;
	display: block;
	padding-left: 0; 
	list-style: none; 
}
.asmListItem {
	/* li item from the html list above */
	position: relative; 
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	background: #ddd;
	border: 1px solid #bbb; 
	width: 100%; 
	margin: 0 0 -1px 0; 
	line-height: 1em;
	border-radius:3px;
}
.asmListItem:hover {
	background-color: #e5e5e5;
}
.asmListItemLabel {
	/* this is a span that surrounds the text in the item, except for the remove link */
	padding: 5px; 
	display: block;
}
.asmListSortable .asmListItemLabel {
	cursor: move; 
}

.asmListItemRemove {
	/* the remove link in each list item */
	position: absolute;
	right: 0; 
	top: 0;
	padding: 5px; 
}
