/* WP Widget layout fix */
div.widget-liquid-left{float: left;clear: none;width: 300px;margin-right:0;}
div.widget-liquid-right {float: left;clear: none;width: 70%;}
div#widgets-left{margin-right:0;}
div.widget-liquid-right {float: left;clear: none;width: 70%;}

div.widgets-right {width: 100%;margin: 0 0 0 1em;display: inline-table;vertical-align: top;}
div.widgets-holder-wrap {width: 285px;padding: 0;margin: 10px 0 20px 1em;display: inline-table;vertical-align: top;}
div#widgets-right {width: 100%;margin: 0 0 0 1em;
